<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>LinuxPackages.info</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
</style>

<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/js/jquery.js"><\/script>')
/* ]]> */</script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
        <div class="container">
        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          	</a>
          	<a class="brand" href="/">LinuxPackages.info</a>
          	<div class="nav-collapse collapse">
            <ul class="nav">
            <li class="active"><a href="/">About</a></li>
			<li><a href="/statistics/">Statistics</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/download">Download</a></li>
            </ul>
          	</div><!--/.nav-collapse -->
   		</div>
	</div>
</div>

<div class="container">
<% content %>
<div align="center" id="footer">
Powered by <a href="http://perldancer.org/">Perl Dancer</a> and <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>
</div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
